<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if(filename){ %> <%- filename %> <% } else if (filename == ""){ %>
      "Filename Not Found" <% } %>
    </title>
    <script
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>

    <style>
      html {
        scroll-behavior: smooth;
        font-size: 115%;
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
      }

      .container {
        max-width: 800px;
        margin: 5px auto;
        padding: 20px;
        padding-top: 16px;
        padding-bottom: 30px;
        min-height: 70vh;
      }

      .markdown-content {
        line-height: 1.6;
      }

      .markdown-content h1,
      .markdown-content h2,
      .markdown-content h3,
      .markdown-content h4,
      .markdown-content h5,
      .markdown-content h6 {
        border-bottom: 1px solid #e1e4e8;
        padding-bottom: 0.3em;
        margin-bottom: 0.6em;
        font-weight: 700;
      }

      .markdown-content code {
        background-color: #f6f8fa;
        border-radius: 3px;
        padding: 0.2em 0.4em;
        font-size: 0.95rem;
      }

      .markdown-content code::-webkit-scrollbar {
        height: 6px;
      }

      .markdown-content code::-webkit-scrollbar-thumb {
        background: #a3a3a3;
        border-radius: 8px;
      }
      .markdown-content code::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background: #8d8d8d;
      }

      .markdown-content pre code {
        background-color: #f6f8fa;
        border-radius: 3px;
        padding: 1em;
        display: block;
        overflow-x: auto;
      }

      .markdown-content blockquote {
        border-left: 4px solid #dfe2e5;
        margin: 0;
        padding: 0.5em 1em;
        color: #6a737d;
      }

      .markdown-content ul,
      .markdown-content ol {
        margin: 0;
        padding-left: 1.5em;
      }

      .markdown-content li {
        margin-bottom: 0.5em;
      }

      .markdown-content table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1em;
      }

      .markdown-content th,
      .markdown-content td {
        border: 1px solid #dfe2e5;
        padding: 0.6em 1em;
      }

      .markdown-content th {
        background-color: #f6f8fa;
        font-weight: 600;
      }

      .markdown-content img {
        max-width: 100%;
        height: auto;
      }

      /* Link styles */
      .markdown-content a {
        color: #0366d6;
        text-decoration: none;
      }

      .markdown-content a:hover {
        text-decoration: underline;
      }

      .markdown-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }

      /* Dark mode styles */
      body.dark-mode {
        color: #fff;
        background-color: #101010;
      }

      body.dark-mode .container th {
        background: #3d3d3d;
      }

      body.dark-mode .markdown-content {
        color: #f4f4f4;
      }

      body.dark-mode .markdown-content h1,
      body.dark-mode .markdown-content h2,
      body.dark-mode .markdown-content h3,
      body.dark-mode .markdown-content h4,
      body.dark-mode .markdown-content h5,
      body.dark-mode .markdown-content h6 {
        border-bottom: 1px solid #55555580;
      }

      body.dark-mode .markdown-content code,
      body.dark-mode .markdown-content pre code {
        background-color: #2d2d2d;
        color: #f8f8f2;
      }

      body.dark-mode .markdown-content blockquote {
        border-left: 4px solid #555;
        color: #aaa;
      }

      body.dark-mode .markdown-content table {
        border-color: #555;
      }

      body.dark-mode .markdown-content th,
      body.dark-mode .markdown-content td {
        border-color: #555;
      }

      /* Dark mode link styles */
      body.dark-mode .markdown-content a {
        color: #58a6ff;
      }

      body.dark-mode .markdown-content a:hover {
        text-decoration: underline;
      }

      /* Dark mode theme switch button */
      .toggle-theme {
        background: none;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
        position: fixed;
        top: 16px;
        right: 18px;
        color: #000;
      }
      body.dark-mode .toggle-theme {
        color: #fff;
      }
      /* Hidden navigation menu */
      .hidden-toc {
        display: none;
      }
      #company-footer {
        margin: 10px;
        padding-top: 20px;
        padding-bottom: 100px;
        font-weight: 400;
        font-size: 0.85rem;
        text-align: center;
      }
      #company-footer a {
        text-decoration: none;
        color: #0366d6;
      }

      /* Style the copy code block */

      .markdown-content pre {
        position: relative;
      }

      .copy-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background: transparent;
        border: none;
        color: #555555;
        cursor: pointer;
        font-size: 0.85rem;
        padding: 2px;
        opacity: 0.7;
        transition: opacity 0.2s;
      }

      .copy-btn:hover {
        opacity: 1;
      }

      .copy-btn .tooltip {
        visibility: hidden;
        background-color: #3e3e3e9e;
        color: #ffffff;
        text-align: center;
        border-radius: 4px;
        padding: 4px 8px;
        position: absolute;
        z-index: 1;
        top: -4px;
        right: 22px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 0.7rem;
      }

      .copy-btn:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }

      @media print {
        .toggle-theme,
        .copy-btn {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <button class="toggle-theme" onclick="toggleTheme()">
        <i class="fa-regular fa-sun"></i> / <i class="fa-solid fa-moon"></i>
      </button>
      <div class="markdown-content"><%- content %></div>
    </div>
    <div id="company-footer">
      <a href="/" target="_blank"
        >Published with <br />
        Aniket's Markdown App</a
      >
    </div>

    <script src="/scripts/themeSwitcher.js"></script>
    <script>
      // Copy Code Icon //
      document.addEventListener("DOMContentLoaded", function () {
        const codeBlocks = document.querySelectorAll(
          ".markdown-content pre code"
        );

        codeBlocks.forEach((block) => {
          // Create copy button
          const copyButton = document.createElement("button");
          copyButton.className = "copy-btn";
          copyButton.innerHTML =
            '<i class="fa-regular fa-clone"></i><span class="tooltip">Copy</span>';

          // Append the button to the pre element
          const pre = block.parentElement;
          pre.style.position = "relative";
          pre.appendChild(copyButton);

          // Add copy functionality
          copyButton.addEventListener("click", () => {
            const text = block.innerText;
            navigator.clipboard.writeText(text).then(() => {
              copyButton.querySelector(".tooltip").textContent = "Copied!";

              const copyIcon = copyButton.querySelector("i");

              copyIcon.classList.remove("fa-regular", "fa-clone");
              copyIcon.classList.add("fa-solid", "fa-check");

              copyButton.style.color = "green";

              setTimeout(() => {
                copyButton.querySelector(".tooltip").textContent = "Copy";
                copyIcon.classList.add("fa-regular", "fa-clone");
                copyIcon.classList.remove("fa-solid", "fa-check");
                copyButton.style.color = "#555555";
              }, 1500);
            });
          });
        });
      });

      // Function to generate IDs for headers
      function generateHeaderIds() {
        const headers = document.querySelectorAll(
          ".markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6"
        );
        headers.forEach((header) => {
          if (!header.id) {
            // Only add ID if it doesn't already exist
            const id = header.textContent
              .trim()
              .toLowerCase()
              .replace(/[^a-z0-9]+/g, "-");
            header.id = id;
          }
        });
      }

      // Function to create hidden navigation links for headers
      function addLinksToTOC() {
        const toc = document.getElementById("toc");
        const headers = document.querySelectorAll(
          ".markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6"
        );
        headers.forEach((header) => {
          if (header.id) {
            const link = document.createElement("a");
            link.href = `#${header.id}`;
            link.textContent = header.textContent;
            link.style.display = "block";
            toc.appendChild(link);
          }
        });
      }

      // Initialize
      generateHeaderIds();
      addLinksToTOC();
    </script>
  </body>
</html>
